<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.shop.mem.web.dao.MemberDAO">
<select id="idCheck" parameterType="mvo" resultType="int">
select count(mem_id) from member where mem_id = #{mem_id}
</select>
<insert id="registProc" parameterType="mvo">
insert into member values(#{mem_id},#{m_passwd},#{m_name},#{m_email},#{m_phone},
#{zipcode},#{address},#{address2},#{m_job},#{m_role},sysdate())
</insert>
<select id="loginProc" parameterType="mvo" resultType="mvo">
select mem_id,m_passwd,m_name,m_email,m_phone,
zipcode,address,address2,m_job,m_role,m_regDate
from member 
where mem_id=#{mem_id} and m_passwd=#{m_passwd}
</select>

<select id="memberList" parameterType="mvo" resultType="mvo">
select mem_id,m_passwd,m_name,m_email,m_phone,zipcode,
 address,address2,m_job,m_role,m_regDate
from member
<if test="mem_id !=null">
	where mem_id = #{mem_id}
</if> 
</select>
<update id="updateProc" parameterType="mvo">
update member set 
m_passwd = #{m_passwd},
m_name = #{m_name},
m_email = #{m_email},
m_phone = #{m_phone},
zipcode = #{zipcode},
address = #{address},
address2 = #{address2},
m_job = #{m_job},
m_role = #{m_role},
m_regDate = sysdate()
where mem_id = #{mem_id}
</update>
</mapper>
